<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" lang="de" content="">
    <meta name="description" lang="en" content="">
    <meta name="keywords" lang="de" content="">
    <meta name="keywords" lang="en" content="">
    <meta name="author" content="Thomas Treml (datadonk23@gmail.com)">

    <title>SherlRec System</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS and Font-->
    <link href="../static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../static/css/theme.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar" style="background-color:rgba(74, 188, 156, 1);"></span>
                    <span class="icon-bar" style="background-color:rgba(74, 188, 156, 1);"></span>
                    <span class="icon-bar" style="background-color:rgba(74, 188, 156, 1);"></span>
                </button>
                <a class="navbar-brand" href="/">SherlRec System</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="/survey">App</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/references#information">Referenzen &amp; Rechtliches</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

<!-- Header -->
    <header>
        <div class="container">
            <div class="text-center">
                <h2>SherlRec System</h2>
                <p>Eine Empfehlungsmaschine f&uuml;r das Lesen der B&uuml;cher aus der Sherlock Holmes Reihe von
                    <a href="https://de.wikipedia.org/wiki/Arthur_Conan_Doyle" target="_blank">Sir Arthur Conan Doyle</a>
                </p><br/>
            </div>
        </div>
    </header>


<!-- Info Section -->
    <section id="info">
        <div class="container">
            <div class="row ">
                <div class="col-md-4 col-md-offset-1">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Sherlock Holmes</h3>
                        </div>
                        <div class="panel-body">
                            <div class="media text-center">
                                <img class="img-responsive center-block" src="../static/img/sherlock-logo.png"
                                     alt="Silhouette von Sherlock Holmes">
                                <p class="center-text"><small>
                                    <a href="https://de.wikipedia.org/wiki/Sherlock_Holmes" target="_blank">
                                        Sherlock Holmes
                                    </a></small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-0 ">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Die Empfehlungsmaschine</h3>
                        </div>
                        <div class="panel-body">
                            <p class="lead">Mit Hilfe dieser App kannst Du Dir vorschlagen lassen, welches Buch aus der Sherlock
                                Holmes Reihe von
                                <a href="https://de.wikipedia.org/wiki/Arthur_Conan_Doyle"
                                   target="_blank">Sir Arthur Conan Doyle</a>
                                Du als n&auml;chstes lesen sollst.
                            </p>
                            <p>Zuerst wirst Du gefragt, wie Du die bereits gelesenen B&uuml;cher der Reihe bewertest.
                                Diese Angaben werden dann mit den Bewertungen anderer BenutzerInnen verglichen und
                                darauf basierend Empfehlungswerte berechnet. B&uuml;cher mit hohen Werten haben andere
                                NutzerInnen, welche &auml;nhnliche Bewertungen wie Du abgegeben haben, hoch bewertet.
                                Diese sollten Deinen Geschmack also besser treffen, als jene mit niedrigen Werten.
                            </p>
                            <p>
                                Au&szlig;erdem handelt es sich um ein lernendes System. Mit jeder neuen BenutzerInnen
                                Eingabe w&auml;chst der Datenbestand an, der zur Erstellung der Empfehlung verwendet
                                wird.
                            </p>
                            <div class="text-center">
                                <a href="/survey" class="btn btn-success btn-xl">zur App</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-1 ">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">Achtung Test Applikation</h3>
                        </div>
                        <div class="panel-body">
                            <p>Diese App ist nur zu Vorf&uuml;hrzwecken entwickelt worden und gibt keine
                                vertrauensw&uuml;rdige Empfehlung ab. Sie soll nur die M&ouml;gleichkeit der Verwendung
                                von Techniken des kollaborativen Filterings auf Bewertungen von BenutzerInnen zeigen.
                                Das System lernt zwar mit jeder neuen abgesendeten Bewertung von NutzerInnen hinzu, die
                                Basis der Bewertungen in der Datenbank besteht aber aus k&uuml;nstlich simulierten
                                Werten. Da es sich eben nur um eine Beispielanwendung handelt, ist auch auf die
                                Verifizierung der Bewertungen verzichtet und weder die Anwendung, noch der
                                Algorithmus, hinsichtlich Sicherheit oder Geschwindigkeit optimiert worden.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../static/js/jquery-1.11.3.min.js"></script>
<!-- Bootstrap. Include all compiled plugins (below), or include individual files as needed -->
<script src="../static/js/bootstrap.min.js"></script>

</body>
</html>
