<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Thomas Treml (datadonk23@gmail.com)">

    <title>SherlRec System</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS and Font-->
    <link href="../static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../static/css/theme.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>


<body>
<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar" style="background-color:rgba(74, 188, 156, 1);"></span>
                    <span class="icon-bar" style="background-color:rgba(74, 188, 156, 1);"></span>
                    <span class="icon-bar" style="background-color:rgba(74, 188, 156, 1);"></span>
                </button>
                <a class="navbar-brand" href="/">SherlRec System</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="/survey">App</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/references#information">Referenzen &amp; Rechtliches</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

<!-- Header -->
    <header>
        <div class="container">
            <div class="text-center">
                <h2>Anwendung</h2>
                <br/>
            </div>
        </div>
    </header>

<!-- Survey Section -->
    <section id="survey">
        <div class="container">
            <div class="row ">
                <div class="col-md-4 col-md-offset-1">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Beschreibung</h3>
                        </div>
                        <div class="panel-body">
                            <p class="lead">Gib an, welche B&uuml;cher Dir aus der Sherlock Holmes Reihe gefallen
                                haben&nbsp;<b>(+)</b> und welche Dir nicht gefallen haben&nbsp;<b>(-)</b>.
                            </p>
                            <p>
                                Hast Du ein Buch nicht gelesen, belasse den Radiobutton in neutraler Position.
                            </p>
                            <p>
                                <big>Achtung</big>, bewerte <b>mindestens 2</b> B&uuml;cher!
                            </p>
                            <p>
                                Sobald Du die Eingaben absendest, werden sie in einer Empfehlungsmaschine
                                weiterverarbeitet und als Ergebnis erh&auml;ltst Du eine f&uuml;r Dich individualisierte
                                Leseliste von B&uuml;chern aus der Sherlock Holmes Reihe.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-0 ">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Eingabe</h3>
                        </div>
                        <div class="panel-body" id="input-form">
<!-- Input -->
                            <form class="form-horizontal">
                                <fieldset>
                                    <legend>Bewertung</legend>
                                    <!-- Input for each book -->
                                    {% for item in bookTitles %}
                                    <div class="form-group text-center">
                                        <label class="col-lg-8 control-label">{{ item }}</label>
                                        <div class="col-lg-4">
                                            <label class="radio-inline"><input type="radio" name="IN{{loop.index}}" value="-1"></label>
                                            <label class="radio-inline"><input type="radio" name="IN{{loop.index}}" value="0" checked=""></label>
                                            <label class="radio-inline"><input type="radio" name="IN{{loop.index}}" value="1"></label>
                                        </div>
                                        <div class="col-lg-4 col-lg-offset-8">
                                            <i class="fa fa-minus-square fa-lg"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <i class="fa fa-square fa-lg"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <i class="fa fa-plus-square fa-lg"></i>&nbsp;&nbsp;
                                        </div>
                                    </div>
                                    {% endfor %}

                                    <div class="form-group text-center">
                                        <div class="col-lg-12">
                                            <hr>
                                            <button type="reset" class="btn btn-default">Cancel</button>
                                            <button type="submit" class="btn btn-success">Submit</button>
                                        </div>
                                    </div>

                                </fieldset>
                            </form>
<!-- Input Ende -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../static/js/jquery-1.11.3.min.js"></script>
<!-- Bootstrap. Include all compiled plugins (below), or include individual files as needed -->
<script src="../static/js/bootstrap.min.js"></script>

</body>
</html>